.intro {
    margin-top: 20px;
}

.intro__row {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./../../img/intro/aquarele.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.intro__row-next {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("./../../img/intro/aquarele2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.intro__content {
    max-width: 400px;
    color: #032a52;
}
.content__title {
    margin-bottom: 50px;
    font-size: 70px;
    font-weight: 700;
}
.content__text {
    margin-bottom: 20px;
    font-size: 30px;
}
.intro__img {
    text-align: center;
    max-width: 100%;
    height: auto;
    img {
        max-width: 80%;
        height: auto;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 9% 40% 9% 40%;
        background-color: #fff;
        box-shadow: 11px 18px 10px 3px rgba(0, 0, 0, 0.363);
    }
}
.intro__img-text {
    font-size: 30px;
    color: #032a52;
}
