.shop {
    padding-top: 50px;
    padding-bottom: 100px;
}

.shop__row {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
    flex-wrap: wrap;
}
.product {
    margin: 10px;
    min-width: 320px;
    border: solid 1px black;
    box-shadow: 11px 18px 10px 3px rgba(0, 0, 0, 0.363);
}
.product__img {
    margin-top: 5px;
    max-width: 180px;
    height: 180px;
}
.product__description {
}
.name {
    padding: 10px 0;
    font-size: 40px;
    font-weight: 600;
}
.description {
    font-size: 22px;
    font-weight: 400;
}
.product__prise {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date_create {
}
.price {
    background-color: brown;
    padding: 10px;
}
