@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

body {
    height: 1000px;
    font-family: "Comfortaa", cursive;
    color: #032a52;
}

.none {
    display: none;
}

.container {
    max-width: 1378px;
    padding: 0 15px;
    margin: 0 auto;
}
